h1 {
    margin-bottom: 30px;
    text-align: center;
}
h2 {
    font-size: 14px;
}

td {
    align: center;
}

.md-typeset__table {
    text-align: center;
}

.md-header--lifted, .md-header {
    background-image: url("background.jpg");
    background-size: 100%;
    background-position-y: 50%;
}

.md-tabs {
    background-color: transparent;
}

.md-tabs__item {
    height: 1.5rem
}

.md-tabs__link {
    margin-top: 0.2rem;
}

.md-typeset__scrollwrap {
    text-align: center;
}