:root {
    --md-primary-fg-color:        #1E003E;
    --md-primary-fg-color--light: #1E003E;
    --md-primary-fg-color--dark:  #1E003E;
}

h1 {
    margin-bottom: 30px;
    text-align: center;
}
h2 {
    font-size: 14px;
}

td {
    align: center;
}

.md-typeset__table {
    text-align: center;
}

.md-tabs__item {
    height: 1.5rem
}

.md-tabs__link {
    margin-top: 0.2rem;
}

.md-typeset__scrollwrap {
    text-align: center;
}

.md-header__button.md-logo {
    padding: 0;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 2rem;
}

.md-title__logo {
    max-height: 2rem; 
    max-width: 100%;
    margin-top:0.4rem;
}

img {
    display: block;
    margin: auto;
}